.upb-accordion-item {
    cursor           : pointer;
    background-color : #EDEDED;
    border-bottom    : 1px solid #EDEDED;
    text-decoration  : none;
    display          : block;
    padding          : 10px;
    color            : #222222;
    box-shadow       : none !important;
    }

.upb-accordion-content {
    display : none;
    border  : 1px solid #EDEDED;
    padding : 10px;
    }

.upb-accordion-content.active {
    display : block;
    }