*, *:after, *:before {
  box-sizing : border-box;
  padding    : 0;
  margin     : 0;
  }

html {
  -webkit-text-size-adjust : 100%; // 2
  -ms-text-size-adjust     : 100%; // 2
  }

[hidden], template {
  display : none;
  }

a:focus {
  box-shadow : none;
  }

html, body {
  font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width       : 100%;
  height      : 100%;
  }