.form-field-wrapper {

  input[type="text"],
  input[type="password"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="radio"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    border           : 1px solid #DDDDDD;
    box-shadow       : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color : #FFFFFF;
    color            : #32373C;
    outline          : none;
    transition       : 0.05s border-color ease-in-out;

    &:focus {
      border-color : #5B9DD9;
      box-shadow   : 0 0 2px rgba(30, 140, 190, 0.8);
      }
    }

  /* rtl:ignore */
  input[type="email"],
  input[type="url"] {
    direction : ltr;
    }

  /* Vertically align the number selector with the input. */
  input[type="number"] {
    height      : 28px;
    line-height : 1;
    }

  input[type="checkbox"],
  input[type="radio"] {
    border             : 1px solid #B4B9BE;
    background         : #FFFFFF;
    color              : #555555;
    clear              : none;
    cursor             : pointer;
    display            : inline-block;
    line-height        : 0;
    height             : 16px;
    margin             : -4px 4px 0 0;
    outline            : 0;
    padding            : 0 !important;
    text-align         : center;
    vertical-align     : middle;
    width              : 16px;
    min-width          : 16px;
    -webkit-appearance : none;
    -webkit-box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition : .05s border-color ease-in-out;
    transition         : .05s border-color ease-in-out;
    }

  input[type="radio"]:checked + label:before {
    color : #82878C;
    }

  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active {
    color : #00A0D2;
    }

  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="radio"] {
    margin-top : 0;
    }

  .wp-core-ui label input[type="checkbox"] {
    margin-top : -4px;
    }

  .wp-core-ui label input[type="radio"] {
    margin-top : -2px;
    }

  input[type="radio"] {
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    margin-right          : 4px;
    line-height           : 10px;
    }

  input[type="checkbox"]:checked:before,
  input[type="radio"]:checked:before {
    float                   : left;
    display                 : inline-block;
    vertical-align          : middle;
    width                   : 16px;
    font                    : normal 21px/1 dashicons;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    }

  input[type="checkbox"]:checked:before {
    content : "\f147";
    margin  : -3px 0 0 -4px;
    color   : #1E8CBE;
    }

  input[type="radio"]:checked:before {
    content               : "\2022";
    text-indent           : -9999px;
    -webkit-border-radius : 50px;
    border-radius         : 50px;
    font-size             : 24px;
    width                 : 6px;
    height                : 6px;
    margin                : 4px;
    line-height           : 16px;
    background-color      : #1E8CBE;
    }

  @-moz-document url-prefix() {
    input[type="checkbox"],
    input[type="radio"],
    .form-table input.tog {
      margin-bottom : -1px;
      }
    }

  /* Search */
  input[type="search"] {
    -webkit-appearance : textfield;
    }

  input[type="search"]::-webkit-search-decoration {
    display : none;
    }

  .ie8 input[type="password"] {
    font-family : sans-serif;
    }

  textarea,
  input,
  select {
    font-size             : 14px;
    padding               : 3px 5px;
    -webkit-border-radius : 0;
    border-radius         : 0; /* Reset mobile webkit's default element styling */
    }

  textarea {
    overflow    : auto;
    padding     : 2px 6px;
    line-height : 1.4;
    resize      : vertical;
    }

  .wp-core-ui input[type="file"] {
    padding : 3px 0;
    cursor  : pointer;
    }

  label {
    cursor : pointer;
    }

  input,
  select {
    margin  : 1px;
    padding : 3px 5px;
    }

  input.code {
    padding-top : 6px;
    }

  textarea.code {
    line-height : 1.4;
    padding     : 4px 6px 1px 6px;
    }

  input.readonly,
  input[readonly],
  textarea.readonly,
  textarea[readonly] {
    background-color : #EEEEEE;
    }

  ::-webkit-input-placeholder {
    color : #72777C;
    }

  ::-moz-placeholder {
    color   : #72777C;
    opacity : 1;
    }

  :-ms-input-placeholder {
    color : #72777C;
    }

  .form-input-tip {
    color : #666666;
    }

  input:disabled,
  input.disabled,
  select:disabled,
  select.disabled,
  textarea:disabled,
  textarea.disabled {
    background         : rgba(255, 255, 255, 0.5);
    border-color       : rgba(222, 222, 222, 0.75);
    -webkit-box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.04);
    box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.04);
    color              : rgba(51, 51, 51, 0.5);
    }

  input[type="file"]:disabled,
  input[type="file"].disabled,
  input[type="range"]:disabled,
  input[type="range"].disabled {
    background         : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
    cursor             : default;
    }

  input[type="checkbox"]:disabled,
  input[type="checkbox"].disabled,
  input[type="radio"]:disabled,
  input[type="radio"].disabled,
  input[type="checkbox"]:disabled:checked:before,
  input[type="checkbox"].disabled:checked:before,
  input[type="radio"]:disabled:checked:before,
  input[type="radio"].disabled:checked:before {
    opacity : 0.7;
    }

  /*------------------------------------------------------------------------------
    2.0 - Forms
  ------------------------------------------------------------------------------*/

  .wp-core-ui select {
    padding        : 2px;
    line-height    : 28px;
    height         : 28px;
    vertical-align : middle;
    }

  .wp-core-ui .button-cancel {
    padding     : 0 5px;
    line-height : 2;
    }

  .wp-core-ui select {
    max-width : 100%;
    }

  .wp-core-ui select[multiple] {
    height : auto;
    }

  .submit {
    padding                            : 1.5em 0;
    margin                             : 5px 0;
    -webkit-border-bottom-left-radius  : 3px;
    border-bottom-left-radius          : 3px;
    -webkit-border-bottom-right-radius : 3px;
    border-bottom-right-radius         : 3px;
    border                             : none;
    }

  form p.submit a.cancel:hover {
    text-decoration : none;
    }

  p.submit {
    text-align  : left;
    max-width   : 100%;
    margin-top  : 20px;
    padding-top : 10px;
    }

  .textright p.submit {
    border     : none;
    text-align : right;
    }

  textarea.all-options,
  input.all-options {
    width : 250px;
    }

  input.large-text,
  textarea.large-text {
    width : 99%;
    }

  .regular-text {
    width : 25em;
    }

  input.small-text {
    width   : 50px;
    padding : 1px 6px;
    }

  input[type="number"].small-text {
    width : 65px;
    }

  input.tiny-text {
    width : 35px;
    }

  input[type="number"].tiny-text {
    width : 45px;
    }

  .wp-core-ui span.description {
    font-size : 12px;
    }

  p.search-box {
    float  : right;
    margin : 0;
    }

  input.ui-autocomplete-input.open {
    border-bottom-color : transparent;
    }

  .color-option {
    display            : inline-block;
    width              : 24%;
    padding            : 5px 15px 15px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    margin-bottom      : 3px;
    }

  .color-option:hover,
  .color-option.selected {
    background : #DDDDDD;
    }

  .color-palette {
    width           : 100%;
    border-spacing  : 0;
    border-collapse : collapse;
    }

  .color-palette td {
    height  : 20px;
    padding : 0;
    border  : none;
    }

  .color-option {
    cursor : pointer;
    }
  }