input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  &:focus {
    border     : 1px solid $upb-sidebar-tab-panel-background-color !important;
    box-shadow : none !important;
    outline    : none !important;
    }
  }

button:focus {
  outline : none;
  }

.form-field-wrapper {
  .form-group {
    padding : 0 !important;
    }

  input[type="text"],
  input[type="password"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="radio"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    font-size        : 12px;
    border           : 1px solid #DDDDDD;
    box-shadow       : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color : #FFFFFF;
    color            : #32373C;
    outline          : none;
    transition       : 0.05s border-color ease-in-out;

    &:focus {
      border     : 1px solid $upb-sidebar-tab-panel-background-color;
      box-shadow : none;
      outline    : none;
      }
    }

  input[type="text"],
  textarea,
  select.select-input,
  select.select-multiple-input {
    width     : 100%;
    font-size : 12px;
    }

  select.select-input {
    -webkit-appearance  : none;
    background-image    : linear-gradient(45deg, transparent 50%, #888888 50%), linear-gradient(135deg, #888888 50%, transparent 50%);
    background-position : calc(100% - 13px) calc(1em + -3px), calc(100% - 9px) calc(1em + -3px);
    background-size     : 4px 4px, 4px 5px, 1px 1.5em;
    background-repeat   : no-repeat;

    &:focus {
      background-image    : linear-gradient(45deg, #888888 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #888888 50%);
      background-position : calc(100% - 9px) calc(1em + -4px), calc(100% - 13px) calc(1em + -4px);
      background-size     : 4px 4px, 4px 4px, 1px 1.5em;
      background-repeat   : no-repeat;
      outline             : 0;
      }
    }

  select.select-multiple-input {
    box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    overflow   : auto;
    }

  /* rtl:ignore */
  input[type="email"],
  input[type="url"] {
    direction : ltr;
    }

  /* Vertically align the number selector with the input. */
  input[type="number"] {
    height      : 28px;
    line-height : 1;
    }

  input[type="range"] {
    height             : 2px;
    -webkit-appearance : none;
    background         : $upb-sidebar-tab-panel-background-color;
    padding            : 0;
    width              : 65%;
    &:focus {
      outline : none;
      }

    /*&::-webkit-slider-runnable-track {
      width         : 100%;
      height        : 8.4px;
      cursor        : pointer;
      box-shadow    : 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
      background    : $upb-sidebar-tab-save-active-color;
      border-radius : 1.3px;
      border        : 0.2px solid rgba(1, 1, 1, 0);
      }*/

    /*&:focus::-webkit-slider-runnable-track {
      background : $upb-sidebar-tab-save-active-color;
      }*/

    &::-webkit-slider-thumb {
      box-shadow         : 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
      height             : 15px;
      width              : 15px;
      border-radius      : 50px;
      background         : $upb-sidebar-tab-panel-background-color;
      cursor             : pointer;
      -webkit-appearance : none;
      margin-top         : -1px;
      /*margin-top         : -3.5px;*/
      box-shadow         : 0 0 2px rgba(0, 0, 0, 0.2);
      }

    /* &::-moz-range-track {
       width         : 100%;
       height        : 8.4px;
       cursor        : pointer;
       box-shadow    : 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
       background    : $upb-sidebar-tab-save-active-color;
       border-radius : 1.3px;
       border        : 0.2px solid rgba(1, 1, 1, 0);
       }*/

    &::-moz-range-thumb {
      box-shadow    : 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
      height        : 15px;
      width         : 15px;
      border-radius : 50px;
      background    : $upb-sidebar-tab-panel-background-color;
      cursor        : pointer;
      }

    }

  input[type="checkbox"],
  input[type="radio"] {
    border             : 1px solid #B4B9BE;
    background         : #FFFFFF;
    color              : #555555;
    clear              : none;
    cursor             : pointer;
    display            : inline-block;
    line-height        : 0;
    height             : 16px;
    margin             : 0 4px 0 0;
    outline            : 0;
    padding            : 0 !important;
    text-align         : center;
    vertical-align     : middle;
    width              : 16px;
    min-width          : 16px;
    -webkit-appearance : none;
    box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition         : .05s border-color ease-in-out;
    }

  input[type="radio"]:checked + label:before {
    color : #82878C;
    }

  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active {
    color : $upb-sidebar-tab-panel-background-color;
    }

  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="radio"] {
    margin-top : 0;
    }

  .wp-core-ui label input[type="checkbox"] {
    margin-top : -4px;
    }

  .wp-core-ui label input[type="radio"] {
    margin-top : -2px;
    }

  input[type="radio"] {
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    margin-right          : 4px;
    line-height           : 10px;
    }

  input[type="checkbox"]:checked:before,
  input[type="radio"]:checked:before {
    float                   : left;
    display                 : inline-block;
    vertical-align          : middle;
    width                   : 16px;
    font                    : normal 21px/1 dashicons;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    }

  input[type="checkbox"]:checked:before {
    content : "\f147";
    margin  : -3px 0 0 -4px;
    color   : $upb-sidebar-tab-panel-background-color;
    }

  input[type="radio"]:checked:before {
    content               : "\2022";
    text-indent           : -9999px;
    -webkit-border-radius : 50px;
    border-radius         : 50px;
    font-size             : 24px;
    width                 : 6px;
    height                : 6px;
    margin                : 4px;
    line-height           : 16px;
    background-color      : $upb-sidebar-tab-panel-background-color;
    }

  @-moz-document url-prefix() {
    input[type="checkbox"],
    input[type="radio"],
    .form-table input.tog {
      margin-bottom : -1px;
      }
    }

  /* Search */
  input[type="search"] {
    -webkit-appearance : textfield;
    }

  input[type="search"]::-webkit-search-decoration {
    display : none;
    }

  .ie8 input[type="password"] {
    font-family : sans-serif;
    }

  textarea,
  input,
  select {
    font-size             : 14px;
    padding               : 3px 5px;
    -webkit-border-radius : 0;
    border-radius         : 0; /* Reset mobile webkit's default element styling */
    }

  textarea {
    overflow    : auto;
    padding     : 2px 6px;
    line-height : 1.4;
    resize      : vertical;
    }

  .wp-core-ui input[type="file"] {
    padding : 3px 0;
    cursor  : pointer;
    }

  label {
    cursor : pointer;
    }

  input,
  select {
    margin  : 1px;
    padding : 3px 5px;
    }

  input.code {
    padding-top : 6px;
    }

  textarea.code {
    line-height : 1.4;
    padding     : 4px 6px 1px 6px;
    }

  input.readonly,
  input[readonly],
  textarea.readonly,
  textarea[readonly] {
    background-color : #EEEEEE;
    }

  ::-webkit-input-placeholder {
    color : #72777C;
    }

  ::-moz-placeholder {
    color   : #72777C;
    opacity : 1;
    }

  :-ms-input-placeholder {
    color : #72777C;
    }

  .form-input-tip {
    color : #666666;
    }

  input:disabled,
  input.disabled,
  select:disabled,
  select.disabled,
  textarea:disabled,
  textarea.disabled {
    background   : rgba(255, 255, 255, 0.5);
    border-color : rgba(222, 222, 222, 0.75);
    box-shadow   : inset 0 1px 2px rgba(0, 0, 0, 0.04);
    color        : rgba(51, 51, 51, 0.5);
    }

  input[type="file"]:disabled,
  input[type="file"].disabled,
  input[type="range"]:disabled,
  input[type="range"].disabled {
    background : none;
    box-shadow : none;
    cursor     : default;
    }

  input[type="checkbox"]:disabled,
  input[type="checkbox"].disabled,
  input[type="radio"]:disabled,
  input[type="radio"].disabled,
  input[type="checkbox"]:disabled:checked:before,
  input[type="checkbox"].disabled:checked:before,
  input[type="radio"]:disabled:checked:before,
  input[type="radio"].disabled:checked:before {
    opacity : 0.7;
    }

  /*------------------------------------------------------------------------------
    2.0 - Forms
  ------------------------------------------------------------------------------*/

  .wp-core-ui select {
    padding        : 2px;
    line-height    : 28px;
    height         : 28px;
    vertical-align : middle;
    }

  .wp-core-ui .button-cancel {
    padding     : 0 5px;
    line-height : 2;
    }

  .wp-core-ui select {
    max-width : 100%;
    }

  .wp-core-ui select[multiple] {
    height : auto;
    }

  .submit {
    padding                    : 1.5em 0;
    margin                     : 5px 0;
    border-bottom-left-radius  : 3px;
    border-bottom-right-radius : 3px;
    border                     : none;
    }

  form p.submit a.cancel:hover {
    text-decoration : none;
    }

  p.submit {
    text-align  : left;
    max-width   : 100%;
    margin-top  : 20px;
    padding-top : 10px;
    }

  .textright p.submit {
    border     : none;
    text-align : right;
    }

  textarea.all-options,
  input.all-options {
    width : 250px;
    }

  input.large-text,
  textarea.large-text {
    width : 99%;
    }

  .regular-text {
    width : 25em;
    }

  input.small-text {
    width   : 50px;
    padding : 1px 6px;
    }

  input[type="number"].small-text {
    width : 65px;
    }

  input.tiny-text {
    width : 35px;
    }

  input[type="number"].tiny-text {
    width : 45px;
    }

  .wp-core-ui span.description {
    font-size : 12px;
    }

  p.search-box {
    float  : right;
    margin : 0;
    }

  input.ui-autocomplete-input.open {
    border-bottom-color : transparent;
    }

  .color-option {
    display       : inline-block;
    width         : 24%;
    padding       : 5px 15px 15px;
    box-sizing    : border-box;
    margin-bottom : 3px;
    }

  .color-option:hover,
  .color-option.selected {
    background : #DDDDDD;
    }

  .color-palette {
    width           : 100%;
    border-spacing  : 0;
    border-collapse : collapse;
    }

  .color-palette td {
    height  : 20px;
    padding : 0;
    border  : none;
    }

  .color-option {
    cursor : pointer;
    }

  /*----------------
   * Title
   *----------------*/
  .title-wrapper {
    display : block;
    }
  .title {
    font-size      : 12px;
    margin         : 0 0 10px;
    text-transform : uppercase;
    font-weight    : bold;
    display        : inline-block;
    }
  .device-icon {
    font-size      : 16px;
    display        : inline-block;
    vertical-align : middle;
    padding-right  : 5px;
    color          : $upb-sidebar-tab-panel-background-color;
    &.inactive {
      color : $upb-sidebar-footer-color;
      }
    }

  .prefix, .suffix {
    font-size      : 11px;
    margin         : 0 0 15px;
    text-transform : uppercase;
    font-weight    : bold;
    display        : inline-block;
    }

  /*----------------
   * label
   *----------------*/
  &.checkbox-field-wrapper label {
    line-height : 20px;
    display     : block;
    cursor      : pointer;

    span {
      font-size   : 12px;
      font-weight : normal;
      }
    }

  &.radio-field-wrapper label {
    font-size   : 12px !important;
    font-weight : normal;
    }

  /*----------------
   * Color Picker
   *----------------*/
  &.color-field-wrapper a.wp-color-result:after {
    line-height : 20px !important;
    font-weight : normal;
    }

  /*----------------
   * image field
   *----------------*/
  .attachment-media-view .placeholder {
    font-size   : 12px;
    font-weight : normal;
    }

  /*-----------------------
   * Device Hidden Field
   *----------------------*/
  &.device-hidden-field-wrapper {
    input[type="checkbox"] {
      visibility : hidden;
      position   : absolute;
      }

    .device-hidden-input {
      display         : flex;
      justify-content : space-around;
      background      : #FFFFFF;
      border          : 1px solid #DDDDDD;
      border-radius   : 2px;

      label {
        position     : relative;
        font-size    : 20px;
        flex         : 1;
        padding      : 7px;
        border-right : 1px solid #DDDDDD;
        text-align   : center;
        cursor       : pointer;
        height       : 30px;

        &:last-child {
          border : 0;
          }
        i {
          position    : absolute;
          width       : 100%;
          height      : 100%;
          left        : 0;
          top         : 0;
          line-height : 30px;
          }
        }
      }

    input:checked + i {
      background : #EEEEEE;
      color      : #999999;
      }
    }

  /*-----------------------
 * Device Hidden Field
 *----------------------*/
  &.radio-icon-field-wrapper, &.checkbox-icon-field-wrapper {
    input[type="radio"], input[type="checkbox"] {
      visibility : hidden;
      position   : absolute;
      }

    .device-hidden-input {
      display         : flex;
      justify-content : space-around;
      background      : #FFFFFF;
      border          : 1px solid $upb-sidebar-tab-active-background-color;
      border-radius   : 2px;

      label {
        position     : relative;
        font-size    : 20px;
        flex         : 1;
        padding      : 7px;
        border-right : 1px solid $upb-sidebar-tab-active-background-color;
        text-align   : center;
        cursor       : pointer;
        height       : 30px;

        &:last-child {
          border : 0;
          }
        i {
          position    : absolute;
          width       : 100%;
          height      : 100%;
          left        : 0;
          top         : 0;
          line-height : 30px;
          }
        }
      }

    input:checked + i {
      background : $upb-sidebar-tab-active-background-color;
      color      : #FFFFFF;
      }
    }

  &.spacing-field-wrapper {
    .spacing-input-group label {
      display        : inline-block;
      text-align     : center;
      padding        : 0 5px;
      text-transform : uppercase;

      &.shorthand-toggle {
        vertical-align : top;
        padding        : 5px 0;
        font-size      : 20px;
        }
      }
    .spacing-title {
      font-size : 12px;
      display   : block;
      padding   : 5px 0;
      }
    input.tiny-text {
      width : 45px;
      }
    }

  &.toggle-field-wrapper {
    .title {
      float      : left;
      margin-top : 5px;
      }

    .toggle-input-group {
      float : right;
      }
    }

  &.number-field-wrapper {
    .title {
      float      : left;
      margin-top : 8px;
      }

    .number-input-group {
      float : right;
      }
    }

  &.message-field-wrapper {
    .upb-input-message {
      border     : 1px solid;
      padding    : 10px;
      text-align : center;
      }

    .info {
      color            : #00529B;
      background-color : #BDE5F8;
      }
    .success {
      color            : #4F8A10;
      background-color : #DFF2BF;
      }
    .warning {
      color            : #9F6000;
      background-color : #FEEFB3;
      }
    .error {
      color            : #D8000C;
      background-color : #FFBABA;
      }

    .validation {
      color            : #D63301;
      background-color : #FFCCBA;
      }
    }

  &.radio-image-field-wrapper {
    label {
      float : left;
      }

    input[type="radio"] {
      visibility : hidden;
      position   : absolute;
      }

    img {
      border     : 4px solid transparent;
      box-sizing : border-box;
      cursor     : pointer;
      height     : auto;
      max-width  : 100%;
      padding    : 1px;
      }

    input:checked + img {
      border-color : $upb-sidebar-tab-active-background-color;
      }
    }

  &.toggle-field-wrapper {
    /* The switch - the box around the slider */
    .switch {
      position : relative;
      display  : inline-block;
      width    : 48px;
      height   : 22px;
      }

    /* Hide default HTML checkbox */
    .switch input {
      display : none;

      &:focus {
        border : 0 !important;
        }
      }

    /* The slider */
    .slider {
      position         : absolute;
      cursor           : pointer;
      top              : 0;
      left             : 0;
      right            : 0;
      bottom           : 0;
      background-color : #F01D2E;
      transition       : .2s;
      }

    .slider:before {
      position         : absolute;
      content          : "";
      height           : 20px;
      width            : 20px;
      left             : 1px;
      bottom           : 1px;
      background-color : white;
      transition       : .2s;
      }

    input:checked + .slider {
      background-color : $upb-sidebar-tab-active-background-color;
      }

    input:focus + .slider {
      box-shadow : 0 0 1px $upb-sidebar-tab-active-background-color;
      }

    input:checked + .slider:before {
      transform : translateX(26px);
      }

    /* Rounded sliders */
    .slider.round {
      border-radius : 34px;
      }

    .slider.round:before {
      border-radius : 50%;
      }
    }
  }

/*-----------------------
 * Sidebar subpanel
 *----------------------*/
#sidebar-sub-panel-sections {
  .sub-panel-sections-header {
    padding    : 10px 15px;
    background : #E0E0E0;
    display    : table;
    width      : 100%;

    input[type="search"],
    button {
      display     : table-cell;
      font-size   : 17px;
      height      : 30px;
      line-height : 30px;
      font-weight : normal;
      }

    input[type="search"] {
      width        : 85%;
      padding      : 0 5px;
      border       : 1px solid #CECECE;
      box-shadow   : inset 0 1px 2px rgba(0, 0, 0, 0.07);
      box-sizing   : border-box;
      margin-right : 3%;

      &::-webkit-input-placeholder {
        font-size : 12px;
        }
      }
    button {
      width      : 30px;
      border     : 0;
      background : #1E67ED;
      color      : #FFFFFF;
      cursor     : pointer;

      &:hover {
        background : #333333;
        }
      }
    }

  .sub-panel-sections-load {
    padding    : 15px;
    text-align : right;
    textarea {
      width      : 100%;
      padding    : 10px;
      box-shadow : inset 0 1px 2px rgba(31, 29, 29, 0.07);
      border     : 1px solid #DDDDDD;
      font-size  : 12px;
      resize     : vertical;
      }

    button {
      border         : 1px solid #DDDDDD;
      background     : #FFFFFF;
      padding        : 5px 10px;
      text-transform : uppercase;
      box-shadow     : 0 1px 2px rgba(0, 0, 0, .1);
      border-radius  : 2px;
      font-size      : 10px;
      font-weight    : bold;
      cursor         : pointer;

      &:hover {
        border-color : #BBBBBB;
        }
      }
    }
  }