input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  &:focus {
    border     : 1px solid #5b9dd9 !important;
    box-shadow : none !important;
    outline    : none !important;
    }
  }

button:focus {
  outline : none;
  }

.form-field-wrapper {

  .form-group {
    padding : 0 !important;
    }

  input[type="text"],
  input[type="password"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="radio"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    font-size        : 12px;
    border           : 1px solid #dddddd;
    box-shadow       : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color : #ffffff;
    color            : #32373c;
    outline          : none;
    transition       : 0.05s border-color ease-in-out;

    &:focus {
      border     : 1px solid #5b9dd9;
      box-shadow : none;
      outline    : none;
      }
    }

  input[type="text"],
  textarea,
  select.select-input,
  select.select-multiple-input {
    width     : 100%;
    font-size : 12px;
    }

  select.select-input {
    -webkit-appearance  : none;
    background-image    : linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #dddddd, #dddddd);
    background-position : calc(100% - 13px) calc(1em + -3px),
    calc(100% - 9px) calc(1em + -3px),
    calc(100% - 2em) 0.1em;
    background-size     : 5px 5px,
    4px 4px,
    1px 1.5em;
    background-repeat   : no-repeat;

    &:focus {
      background-image    : linear-gradient(45deg, #bbbbbb 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #bbbbbb 50%),
      linear-gradient(to right, #dddddd, #dddddd);
      background-position : calc(100% - 10px) calc(1em + -4px),
      calc(100% - 13px) calc(1em + -4px),
      calc(100% - 2em) 0.1em;
      background-size     : 4px 4px,
      4px 4px,
      1px 1.5em;
      background-repeat   : no-repeat;
      outline             : 0;
      }
    }

  select.select-multiple-input {
    box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    }

  /* rtl:ignore */
  input[type="email"],
  input[type="url"] {
    direction : ltr;
    }

  /* Vertically align the number selector with the input. */
  input[type="number"] {
    height      : 28px;
    line-height : 1;
    }

  input[type="checkbox"],
  input[type="radio"] {
    border             : 1px solid #b4b9be;
    background         : #ffffff;
    color              : #555555;
    clear              : none;
    cursor             : pointer;
    display            : inline-block;
    line-height        : 0;
    height             : 16px;
    margin             : 0 4px 0 0;
    outline            : 0;
    padding            : 0 !important;
    text-align         : center;
    vertical-align     : middle;
    width              : 16px;
    min-width          : 16px;
    -webkit-appearance : none;
    -webkit-box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition : .05s border-color ease-in-out;
    transition         : .05s border-color ease-in-out;
    }

  input[type="radio"]:checked + label:before {
    color : #82878c;
    }

  .wp-core-ui input[type="reset"]:hover,
  .wp-core-ui input[type="reset"]:active {
    color : #00a0d2;
    }

  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="checkbox"],
  .wp-core-ui input[type="radio"] {
    margin-top : 0;
    }

  .wp-core-ui label input[type="checkbox"] {
    margin-top : -4px;
    }

  .wp-core-ui label input[type="radio"] {
    margin-top : -2px;
    }

  input[type="radio"] {
    -webkit-border-radius : 50%;
    border-radius         : 50%;
    margin-right          : 4px;
    line-height           : 10px;
    }

  input[type="checkbox"]:checked:before,
  input[type="radio"]:checked:before {
    float                   : left;
    display                 : inline-block;
    vertical-align          : middle;
    width                   : 16px;
    font                    : normal 21px/1 dashicons;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    }

  input[type="checkbox"]:checked:before {
    content : "\f147";
    margin  : -3px 0 0 -4px;
    color   : #1e8cbe;
    }

  input[type="radio"]:checked:before {
    content               : "\2022";
    text-indent           : -9999px;
    -webkit-border-radius : 50px;
    border-radius         : 50px;
    font-size             : 24px;
    width                 : 6px;
    height                : 6px;
    margin                : 4px;
    line-height           : 16px;
    background-color      : #1e8cbe;
    }

  @-moz-document url-prefix() {
    input[type="checkbox"],
    input[type="radio"],
    .form-table input.tog {
      margin-bottom : -1px;
      }
    }

  /* Search */
  input[type="search"] {
    -webkit-appearance : textfield;
    }

  input[type="search"]::-webkit-search-decoration {
    display : none;
    }

  .ie8 input[type="password"] {
    font-family : sans-serif;
    }

  textarea,
  input,
  select {
    font-size             : 14px;
    padding               : 3px 5px;
    -webkit-border-radius : 0;
    border-radius         : 0; /* Reset mobile webkit's default element styling */
    }

  textarea {
    overflow    : auto;
    padding     : 2px 6px;
    line-height : 1.4;
    resize      : vertical;
    }

  .wp-core-ui input[type="file"] {
    padding : 3px 0;
    cursor  : pointer;
    }

  label {
    cursor : pointer;
    }

  input,
  select {
    margin  : 1px;
    padding : 3px 5px;
    }

  input.code {
    padding-top : 6px;
    }

  textarea.code {
    line-height : 1.4;
    padding     : 4px 6px 1px 6px;
    }

  input.readonly,
  input[readonly],
  textarea.readonly,
  textarea[readonly] {
    background-color : #eeeeee;
    }

  ::-webkit-input-placeholder {
    color : #72777c;
    }

  ::-moz-placeholder {
    color   : #72777c;
    opacity : 1;
    }

  :-ms-input-placeholder {
    color : #72777c;
    }

  .form-input-tip {
    color : #666666;
    }

  input:disabled,
  input.disabled,
  select:disabled,
  select.disabled,
  textarea:disabled,
  textarea.disabled {
    background         : rgba(255, 255, 255, 0.5);
    border-color       : rgba(222, 222, 222, 0.75);
    -webkit-box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.04);
    box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.04);
    color              : rgba(51, 51, 51, 0.5);
    }

  input[type="file"]:disabled,
  input[type="file"].disabled,
  input[type="range"]:disabled,
  input[type="range"].disabled {
    background         : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
    cursor             : default;
    }

  input[type="checkbox"]:disabled,
  input[type="checkbox"].disabled,
  input[type="radio"]:disabled,
  input[type="radio"].disabled,
  input[type="checkbox"]:disabled:checked:before,
  input[type="checkbox"].disabled:checked:before,
  input[type="radio"]:disabled:checked:before,
  input[type="radio"].disabled:checked:before {
    opacity : 0.7;
    }

  /*------------------------------------------------------------------------------
    2.0 - Forms
  ------------------------------------------------------------------------------*/

  .wp-core-ui select {
    padding        : 2px;
    line-height    : 28px;
    height         : 28px;
    vertical-align : middle;
    }

  .wp-core-ui .button-cancel {
    padding     : 0 5px;
    line-height : 2;
    }

  .wp-core-ui select {
    max-width : 100%;
    }

  .wp-core-ui select[multiple] {
    height : auto;
    }

  .submit {
    padding                            : 1.5em 0;
    margin                             : 5px 0;
    -webkit-border-bottom-left-radius  : 3px;
    border-bottom-left-radius          : 3px;
    -webkit-border-bottom-right-radius : 3px;
    border-bottom-right-radius         : 3px;
    border                             : none;
    }

  form p.submit a.cancel:hover {
    text-decoration : none;
    }

  p.submit {
    text-align  : left;
    max-width   : 100%;
    margin-top  : 20px;
    padding-top : 10px;
    }

  .textright p.submit {
    border     : none;
    text-align : right;
    }

  textarea.all-options,
  input.all-options {
    width : 250px;
    }

  input.large-text,
  textarea.large-text {
    width : 99%;
    }

  .regular-text {
    width : 25em;
    }

  input.small-text {
    width   : 50px;
    padding : 1px 6px;
    }

  input[type="number"].small-text {
    width : 65px;
    }

  input.tiny-text {
    width : 35px;
    }

  input[type="number"].tiny-text {
    width : 45px;
    }

  .wp-core-ui span.description {
    font-size : 12px;
    }

  p.search-box {
    float  : right;
    margin : 0;
    }

  input.ui-autocomplete-input.open {
    border-bottom-color : transparent;
    }

  .color-option {
    display            : inline-block;
    width              : 24%;
    padding            : 5px 15px 15px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    margin-bottom      : 3px;
    }

  .color-option:hover,
  .color-option.selected {
    background : #dddddd;
    }

  .color-palette {
    width           : 100%;
    border-spacing  : 0;
    border-collapse : collapse;
    }

  .color-palette td {
    height  : 20px;
    padding : 0;
    border  : none;
    }

  .color-option {
    cursor : pointer;
    }

  /*----------------
   * Title
   *----------------*/
  .title {
    font-size      : 11px;
    margin         : 0 0 10px;
    text-transform : uppercase;
    font-weight    : 500;
    display        : block;
    }

  /*----------------
   * label
   *----------------*/
  &.checkbox-field-wrapper label {
    line-height : 20px;
    display     : block;
    cursor      : pointer;

    span {
      font-size   : 12px;
      font-weight : normal;
      }
    }

  &.radio-field-wrapper label {
    font-size   : 12px !important;
    font-weight : normal;
    }

  /*----------------
   * Color Picker
   *----------------*/
  &.color-field-wrapper a.wp-color-result:after {
    line-height : 20px !important;
    font-weight : normal;
    }

  /*----------------
   * image field
   *----------------*/
  .attachment-media-view .placeholder {
    font-size   : 12px;
    font-weight : normal;
    }

  /*-----------------------
   * Device Hidden Field
   *----------------------*/
  &.device-hidden-field-wrapper {
    input[type="checkbox"] {
      visibility : hidden;
      position   : absolute;
      }

    .device-hidden-input {
      display         : flex;
      -ms-flex-pack   : distribute;
      justify-content : space-around;
      background      : #ffffff;
      border          : 1px solid #dddddd;
      border-radius   : 2px;

      label {
        position     : relative;
        font-size    : 20px;
        flex         : 1;
        padding      : 7px;
        border-right : 1px solid #dddddd;
        text-align   : center;
        cursor       : pointer;
        height       : 30px;

        &:last-child {
          border : 0;
          }
        i {
          position    : absolute;
          width       : 100%;
          height      : 100%;
          left        : 0;
          top         : 0;
          line-height : 30px;
          }
        }
      }

    input:checked + i {
      background : #eeeeee;
      color      : #999999;
      }
    }

  }

/*-----------------------
 * Sidebar subpanel
 *----------------------*/
#sidebar-sub-panel-sections {
  .sub-panel-sections-header {
    padding    : 10px 15px;
    background : #e0e0e0;
    display    : table;
    width      : 100%;

    input[type="search"],
    button {
      display     : table-cell;
      font-size   : 17px;
      height      : 30px;
      line-height : 30px;
      font-weight : normal;
      }

    input[type="search"] {
      width        : 85%;
      padding      : 0 5px;
      border       : 1px solid #cecece;
      box-shadow   : inset 0 1px 2px rgba(0, 0, 0, 0.07);
      box-sizing   : border-box;
      margin-right : 3%;
      }
    button {
      width      : 30px;
      border     : 0;
      background : #1e67ed;
      color      : #ffffff;
      cursor     : pointer;

      &:hover {
        background : #333333;
        }
      }
    }

  .sub-panel-sections-load {
    padding    : 15px;
    text-align : right;
    textarea {
      width      : 100%;
      padding    : 10px;
      box-shadow : inset 0 1px 2px rgba(31, 29, 29, 0.07);
      border     : 1px solid #dddddd;
      font-size  : 12px;
      resize     : vertical;
      }

    button {
      border         : 1px solid #dddddd;
      background     : #ffffff;
      padding        : 5px 10px;
      text-transform : uppercase;
      box-shadow     : 0 1px 2px rgba(0, 0, 0, .1);
      border-radius  : 2px;
      font-size      : 10px;
      font-weight    : bold;
      cursor         : pointer;

      &:hover {
        border-color : #bbbbbb;
        }
      }
    }
  }