$mdi-font-path : "../fonts/mdi" !default;

// Pre Loader
$upb-pre-loader-background-color : #03A9F4 !default;

// Sidebar
$upb-sidebar-border-color : #E2E2E2 !default;
$upb-sidebar-background-color : #F9F9F9 !default;

// Sidebar Header
// Tab
$upb-sidebar-tab-background-color : #FFFFFF !default;
$upb-sidebar-tab-color : #A2A2A2 !default;
$upb-sidebar-tab-active-color : #FFFFFF !default;
$upb-sidebar-tab-active-background-color : #2373F0 !default;
$upb-sidebar-tab-save-active-background-color : transparent !default;
$upb-sidebar-tab-save-active-color : #000000 !default;
$upb-sidebar-tab-button-separator-color : #E8E8E8 !default;

// Tab Panel
$upb-sidebar-tab-panel-background-color : #2272EF !default;
$upb-sidebar-tab-panel-color : #FFFFFF !default;
$upb-sidebar-tab-panel-icon-background-color : #1E67D8 !default;
$upb-sidebar-tab-panel-breadcrumb-color : #ABC2F6 !default;

// Tab Panel toolbar

$upb-sidebar-tab-panel-toolbar-background-color : #FFFFFF !default;
$upb-sidebar-tab-panel-toolbar-separator-color : #EBEBEB !default;
$upb-sidebar-tab-panel-toolbar-color : #C3C3C3 !default;






