.customize-page-builder-options-toggle {
  background : none;
  border     : none;
  color      : #555555;
  cursor     : pointer;
  margin     : 0;
  padding    : 20px;
  position   : absolute;
  right      : 0;
  top        : 30px;

  &:hover,
  &:active,
  &:focus {
    color : #0073AA;
    }
  &:focus {
    outline : none;
    }
  &:focus {
    &:before {
      border-radius : 100%;
      }
    }
  &:before {
    -moz-osx-font-smoothing : grayscale;
    border                  : none;
    content                 : "\f111";
    display                 : block;
    font                    : 18px/1 dashicons;
    padding                 : 5px;
    text-align              : center;
    text-decoration         : none !important;
    text-indent             : 0;
    left                    : 6px;
    position                : absolute;
    top                     : 6px;
    }
  }

#customize-controls {
  .customize-info {
    .customize-help-toggle {
      padding : 20px;
      &:before {
        padding : 4px;
        }
      }
    }

  .control-section-page-builder-hidden {
    display : none;
    }
  }

.wp-customizer {
  #page-builder-options-wrap {
    display    : none;
    background : #FFFFFF;
    border-top : 1px solid #DDDDDD;
    padding    : 4px 15px 15px;
    }

  .metabox-prefs label {
    display       : block;
    padding-right : 0;
    line-height   : 30px;
    }
  }