@import "variables";
@import "./node_modules/mdi/scss/materialdesignicons";

.upb-preview-element {
  position : relative;

  &.upb-has-mini-toolbar {
    min-height  : 50px;
    padding-top : 25px;
    }

  &.upb-sidebar-collapsed {
    padding-top : 0;
    min-height  : 1px;
    }

  > .upb-preview-mini-toolbar {

    + * {
      position : relative;
      }

    position  : absolute;
    height    : 100%;
    width     : 100%;
    top       : 0;
    left      : 0;
    border    : transparent 1px solid;
    z-index   : 0;
    font-size : 14px;

    > ul {
      list-style       : none;
      position         : absolute;
      left             : 0;
      top              : 0;
      margin           : 0;
      padding          : 0;
      visibility       : hidden;
      background-color : $upb-preview-element-highlight-color;
      color            : $upb-preview-element-toolbar-color;
      li {
        display : inline-block;
        padding : 0 5px;
        cursor  : pointer;
        }
      }

    &:hover {
      border-color : $upb-preview-element-highlight-color;
      > ul {
        visibility : visible;
        }
      }

    &.highlight {
      border-color : $upb-preview-element-highlight-color;
      }
    }

  /*&.upb-column-preview {
    border : none;
    }*/

  &.upb-column-preview,
  &.upb-preview-element-non-core.upb-preview-element-type-container {
    min-height : 105px;
    }

  > .upb-add-element-message {
    position        : absolute !important;
    padding         : 5px !important;
    margin          : 10px 5px !important;
    text-decoration : none !important;
    box-shadow      : none !important;
    outline         : none !important;
    color           : $upb-preview-element-highlight-color !important;
    }

  &.upb-preview-element-disabled {

    //&.upb-sidebar-collapsed {
    background-color : rgba($upb-preview-element-disable-color, 0.05) !important;
    //  }

    .upb-preview-mini-toolbar {
      > ul {
        background-color : $upb-preview-element-disable-color;
        }
      &:hover,
      &.highlight {
        border-color : $upb-preview-element-disable-color;
        }
      }

    &.upb-preview-element-no-contents > .upb-preview-mini-toolbar {
      border-color : $upb-preview-element-disable-color !important;
      }

    > .upb-add-element-message {
      color : $upb-preview-element-disable-color !important;
      }
    }

  &.upb-preview-element-no-contents > .upb-preview-mini-toolbar {
    border-color : $upb-preview-element-highlight-color !important;
    }
  }