@import "variables";
@import "./node_modules/mdi/scss/materialdesignicons";

.upb-preview-element {
  position : relative;
  min-height  : 50px;
  padding-top : 25px;

  .upb-preview-mini-toolbar {
    position  : absolute;
    height    : 100%;
    width     : 100%;
    top       : 0;
    left      : 0;
    border    : transparent 1px solid;
    z-index   : 0;
    font-size : 14px;

    > ul {
      list-style       : none;
      position         : absolute;
      left             : 0;
      top              : 0;
      margin           : 0;
      padding          : 0;
      visibility       : hidden;
      background-color : $upb-preview-element-highlight-color;
      color            : $upb-preview-element-toolbar-color;
      li {
        display : inline-block;
        padding : 0 5px;
        cursor  : pointer;
        }
      }

    &:hover {
      border-color : $upb-preview-element-highlight-color;
      > ul {
        visibility : visible;
        }
      }

    &.highlight {
      border-color : $upb-preview-element-highlight-color;
      }
    }
  }