//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs : 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min : $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone : $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm : 768px !default;
$screen-sm-min : $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet : $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md : 992px !default;
$screen-md-min : $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop : $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg : 1200px !default;
$screen-lg-min : $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop : $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max : ($screen-sm-min - 1) !default;
$screen-sm-max : ($screen-md-min - 1) !default;
$screen-md-max : ($screen-lg-min - 1) !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns : 12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width : 30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint : $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max : ($grid-float-breakpoint - 1) !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet : (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm : $container-tablet !default;

// Medium screen / desktop
$container-desktop : (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md : $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop : (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg : $container-large-desktop !default;

// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

@mixin clearfix() {
  &:before,
  &:after {
    content : " "; // 1
    display : table; // 2
    }
  &:after {
    clear : both;
    }
  }

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns($i: 1, $list: ".upb-col-xs-#{$i}, .upb-col-sm-#{$i}, .upb-col-md-#{$i}, .upb-col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list : "#{$list}, .upb-col-xs-#{$i}, .upb-col-sm-#{$i}, .upb-col-md-#{$i}, .upb-col-lg-#{$i}";
    }
  #{$list} {
    position      : relative;
    // Prevent columns from collapsing when empty
    min-height    : 1px;
    // Inner gutter via padding
    padding-left  : ceil(($grid-gutter-width / 2));
    padding-right : floor(($grid-gutter-width / 2));
    }
  }

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns($class, $i: 1, $list: ".upb-col-#{$class}-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list : "#{$list}, .upb-col-#{$class}-#{$i}";
    }
  #{$list} {
    float : left;
    }
  }

@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .upb-col-#{$class}-#{$index} {
      width : percentage(($index / $grid-columns));
      }
    }
  @if ($type == push) and ($index > 0) {
    .upb-col-#{$class}-push-#{$index} {
      left : percentage(($index / $grid-columns));
      }
    }
  @if ($type == push) and ($index == 0) {
    .upb-col-#{$class}-push-0 {
      left : auto;
      }
    }
  @if ($type == pull) and ($index > 0) {
    .upb-col-#{$class}-pull-#{$index} {
      right : percentage(($index / $grid-columns));
      }
    }
  @if ($type == pull) and ($index == 0) {
    .upb-col-#{$class}-pull-0 {
      right : auto;
      }
    }
  @if ($type == offset) {
    .upb-col-#{$class}-offset-#{$index} {
      margin-left : percentage(($index / $grid-columns));
      }
    }
  }

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
    }
  }

// Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
  }

// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right  : auto;
  margin-left   : auto;
  padding-left  : floor(($gutter / 2));
  padding-right : ceil(($gutter / 2));
  @include clearfix;
  }

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  // margin-left  : ceil(($gutter / -2));
  // margin-right : floor(($gutter / -2));
  @include clearfix;
  }

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position      : relative;
  float         : left;
  width         : percentage(($columns / $grid-columns));
  min-height    : 1px;
  padding-left  : ($gutter / 2);
  padding-right : ($gutter / 2);
  }

@mixin make-xs-column-offset($columns) {
  margin-left : percentage(($columns / $grid-columns));
  }

@mixin make-xs-column-push($columns) {
  left : percentage(($columns / $grid-columns));
  }

@mixin make-xs-column-pull($columns) {
  right : percentage(($columns / $grid-columns));
  }

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position      : relative;
  min-height    : 1px;
  padding-left  : ($gutter / 2);
  padding-right : ($gutter / 2);

  @media (min-width : $screen-sm-min) {
    float : left;
    width : percentage(($columns / $grid-columns));
    }
  }

@mixin make-sm-column-offset($columns) {
  @media (min-width : $screen-sm-min) {
    margin-left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-sm-column-push($columns) {
  @media (min-width : $screen-sm-min) {
    left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-sm-column-pull($columns) {
  @media (min-width : $screen-sm-min) {
    right : percentage(($columns / $grid-columns));
    }
  }

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position      : relative;
  min-height    : 1px;
  padding-left  : ($gutter / 2);
  padding-right : ($gutter / 2);

  @media (min-width : $screen-md-min) {
    float : left;
    width : percentage(($columns / $grid-columns));
    }
  }

@mixin make-md-column-offset($columns) {
  @media (min-width : $screen-md-min) {
    margin-left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-md-column-push($columns) {
  @media (min-width : $screen-md-min) {
    left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-md-column-pull($columns) {
  @media (min-width : $screen-md-min) {
    right : percentage(($columns / $grid-columns));
    }
  }

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position      : relative;
  min-height    : 1px;
  padding-left  : ($gutter / 2);
  padding-right : ($gutter / 2);

  @media (min-width : $screen-lg-min) {
    float : left;
    width : percentage(($columns / $grid-columns));
    }
  }

@mixin make-lg-column-offset($columns) {
  @media (min-width : $screen-lg-min) {
    margin-left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-lg-column-push($columns) {
  @media (min-width : $screen-lg-min) {
    left : percentage(($columns / $grid-columns));
    }
  }

@mixin make-lg-column-pull($columns) {
  @media (min-width : $screen-lg-min) {
    right : percentage(($columns / $grid-columns));
    }
  }

//
// Grid system
// --------------------------------------------------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.upb-container {
  @include container-fixed;

  @media (min-width : $screen-sm-min) {
    width : $container-sm;
    }
  @media (min-width : $screen-md-min) {
    width : $container-md;
    }
  @media (min-width : $screen-lg-min) {
    width : $container-lg;
    }
  }

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.upb-container-fluid {
  @include container-fixed;
  }

// Row
//
// Rows contain and clear the floats of your columns.

.upb-row {
  @include make-row;
  }

// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

@include make-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width : $screen-sm-min) {
  @include make-grid(sm);
  }

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width : $screen-md-min) {
  @include make-grid(md);
  }

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width : $screen-lg-min) {
  @include make-grid(lg);
  }