.upb-section-preview {
    background-color    : var(--background-color);
    background-image    : var(--background-image);
    background-position : var(--background-image-position);
    background-repeat   : no-repeat;
    }

.upb-text-preview {
    background-color : var(--background-color);
    }