@import "./variables";
@import "./mixins";

#upb-sidebar-header {
  position         : relative;
  background-color : $upb-sidebar-tab-background-color;
  height           : 50px;

  ul {
    display    : block;
    list-style : none;
    }

  ul.tab-wrapper {
    li {
      padding : 10px 3px;

      i::before {
        margin-left : 1px;
        }
      a {
        border-radius : 50%;
        width         : 30px;
        height        : 30px;
        line-height   : 30px;
        display       : block;

        &:focus {
          box-shadow : none;
          }

        }

      &.active {
        position : relative;
        a {
          font-size        : 16px;
          color            : $upb-sidebar-tab-active-color;
          background-color : $upb-sidebar-tab-active-background-color;
          }

        &::after {
          content      : "";
          position     : absolute;
          margin-left  : -4px;
          bottom       : 0;
          border-width : 4px;
          border-style : solid;
          border-color : transparent transparent $upb-sidebar-tab-active-background-color;
          }
        }
      }
    }

  .tab-wrapper {
    li {
      display : inline-block;
      }
    text-align : center;
    }

  .btn-close,
  .btn-save {
    position    : absolute;
    top         : 0;
    width       : 50px;
    height      : 50px;
    text-align  : center;
    line-height : 50px;
    }

  .btn-close {
    left         : 0;
    border-right : 1px solid $upb-sidebar-tab-button-separator-color;
    a:hover {
      background : $upb-sidebar-tab-button-separator-color;
      }
    }

  .btn-save {
    right       : 0;
    border-left : 1px solid $upb-sidebar-tab-button-separator-color;
    &.active {
      a {
        background-color : $upb-sidebar-tab-save-active-background-color;
        color            : $upb-sidebar-tab-save-active-color;
        }
      }
    }

  a {
    display   : block;
    font-size : 20px;
    color     : $upb-sidebar-tab-color;
    }
  }

