@import "../../assets/scss/variables";

#upb-sidebar {
  width           : 100%;
  height          : 100%;

  display         : flex;
  flex-direction  : column;

  justify-content : flex-start; /* align items in Main Axis */
  align-items     : stretch; /* align items in Cross Axis */
  align-content   : stretch; /* Extra space in Cross Axis */
  }

#upb-sidebar-contents {
  flex            : 1; /* same as flex: 1 1 auto; */
  display         : flex;
  flex-direction  : column;
  justify-content : flex-start; /* align items in Main Axis */
  align-items     : stretch; /* align items in Cross Axis */
  align-content   : stretch; /* Extra space in Cross Axis */
  }

#upb-panel-wrapper {
  flex            : 1;
  display         : flex;
  flex-direction  : column;

  justify-content : flex-start; /* align items in Main Axis */
  align-items     : stretch; /* align items in Cross Axis */
  align-content   : stretch; /* Extra space in Cross Axis */
  }

#upb-panel-contents {
  flex     : 1;
  overflow : auto;
  }



