@import "../../assets/scss/variables";

// Input Reset

input[type="search"] {
  -webkit-appearance : textfield;
  }

input[type="search"]::-webkit-search-decoration {
  display : none;
  }

input:focus,
button:focus {
  outline : none;
  }

/*---------------------
 * Sidebar Content
 *---------------------*/

#upb-sidebar-contents {

  ul {
    list-style : none;
    }

  /* ---------------------
   * Content Header */

  .upb-panel-header {
    background : $upb-sidebar-tab-panel-background-color;
    color      : $upb-sidebar-tab-panel-color;
    position   : relative;
    display    : table;
    width      : 100%;

    .back {
      font-size      : 24px;
      color          : $upb-sidebar-tab-panel-color;
      width          : 50px;
      height         : 100%;
      vertical-align : middle;
      text-align     : center;
      border-right   : 1px solid rgba(0, 0, 0, .1);

      &:hover {
        background : rgba(0, 0, 0, .1);
        }
      }

    .back,
    .panel-heading-wrapper {
      display : table-cell;
      }

    .panel-heading-wrapper {
      padding : 15px;
      .panel-heading {
        .upb-breadcrumb {
          font-size      : 10px;
          font-weight    : 600;
          display        : block;
          text-transform : uppercase;
          line-height    : 1;
          color          : rgba($upb-sidebar-tab-panel-color, .5);
          margin-bottom  : 15px;
          }
        .panel-title {
          font-size      : 18px;
          text-transform : uppercase;
          font-weight    : 500;
          }
        }

      button {
        position      : absolute;
        right         : 15px;
        font-size     : 14px;
        width         : 20px;
        height        : 20px;
        line-height   : 20px;
        text-align    : center;
        border-radius : 100%;
        border        : none;
        color         : $upb-sidebar-tab-panel-color;
        background    : rgba($upb-sidebar-tab-panel-icon-background-color, .1);

        &.active {
          background : rgba($upb-sidebar-tab-panel-icon-background-color, .5);

          }

        &:hover {
          cursor : pointer;
          }

        &.upb-content-help-toggle {
          top : 15px
          }

        &.upb-content-search-toggle {
          bottom : 15px;
          }

        }
      }
    }

  /* ---------------------
   * Content Header */

  .upb-panel-meta > div {
    padding     : 15px;
    background  : $upb-sidebar-help-background;
    font-size   : 13px;
    color       : rgba($upb-sidebar-help-color, .6);
    font-weight : 100;
    text-align  : center;

    h2 {
      font-size     : 16px;
      font-weight   : 500;
      margin-bottom : 10px;
      color         : $upb-sidebar-help-color;
      }

    input[type="search"] {
      padding : 10px;
      display : block;
      width   : 100%;
      border  : 0;
      }
    }

  /* ---------------------
   * panel Tools */

  .upb-panel-tools {
    background : $upb-sidebar-tab-panel-toolbar-background-color;

    ul {
      position        : relative;
      display         : flex;
      margin          : 0 auto;
      padding         : 0;
      list-style      : none;
      flex-flow       : row wrap;
      justify-content : center;
      box-shadow      : 0 2px 1px rgba(0, 0, 0, .05);

      li {
        border-right : 1px solid $upb-sidebar-tab-panel-toolbar-separator-color;
        position     : relative;
        z-index      : 1;
        display      : block;
        margin       : 0;
        text-align   : center;
        flex         : 1;

        &:last-child {
          border : 0;
          }

        a {
          display         : block;
          height          : 100%;
          padding         : 15px 10px;
          text-decoration : none;

          i {
            font-size : 20px;
            color     : $upb-sidebar-tab-panel-toolbar-icon-color;
            }
          div {
            display        : block;
            font-size      : 9px;
            color          : $upb-sidebar-tab-panel-toolbar-text-color;
            text-transform : uppercase;
            margin-top     : 5px;
            }

          &:hover {
            background : $upb-sidebar-tab-panel-toolbar-separator-color;
            }
          }
        }
      }
    }

  /* ---------------------
   * panel Contents */

  .upb-panel-contents {
    &::-webkit-scrollbar {
      width  : 5px;
      height : 5px;
      }
    &::-webkit-scrollbar-thumb {
      background    : #BBBBBB;
      border-radius : 1px;
      border        : 1px solid $upb-sidebar-background-color;
      }
    &::-webkit-scrollbar-thumb:hover {
      background : #333333;
      }
    &::-webkit-scrollbar-thumb:active {
      background : #333333;
      }
    &::-webkit-scrollbar-track {
      background : $upb-sidebar-background-color;
      }
    &::-webkit-scrollbar-corner {
      background : transparent;
      }
    }

  /* ---------------------
   * Panel Contents */

  .upb-panel-contents {
    padding : 15px;
    .upb-panel-contents-items > li {
      border           : 1px solid $upb-sidebar-panel-content-item-border;
      background-color : $upb-sidebar-panel-content-item-background;
      box-shadow       : 0 0 5px rgba(0, 0, 0, .1);
      border-radius    : 3px;
      margin-bottom    : 10px;

      .tools {
        font-size     : 0;
        text-align    : right;
        border-bottom : 1px solid $upb-sidebar-panel-content-item-border;
        li {
          display     : inline-block;
          width       : 30px;
          height      : 30px;
          line-height : 30px;
          font-size   : 14px;
          text-align  : center;
          box-sizing  : border-box;
          border-left : 1px solid $upb-sidebar-panel-content-item-border;

          &:first-child {
            border : 0;
            }

          // icon color
          i {
            color : $upb-sidebar-panel-content-item-icon-color;
            }

          // mover icon color
          &.move {
            float        : left;
            display      : block;
            border-right : 1px solid $upb-sidebar-panel-content-item-border;
            }

          // hover color
          &:hover {
            cursor     : pointer;
            background : $upb-sidebar-panel-content-item-border;
            color      : $upb-sidebar-panel-content-item-icon-hover-color;
            i {
              color : $upb-sidebar-panel-content-item-icon-hover-color;
              }
            }

          }

        }

      // item content
      > div {
        padding     : 10px;
        font-size   : 16px;
        font-weight : 500;
        }

      // sort place holder
      &.upb-sort-placeholder {
        height     : 40px;
        display    : block;
        border     : 2px dashed $upb-sidebar-panel-content-item-border;
        background : transparent;
        box-shadow : none;
        }

      // Item Disable
      &.item-disabled {
        opacity : .5;
        }

      &.item-focused {
        border : 1px solid $upb-sidebar-panel-content-item-focused-border;
        }
      &.item-selected {
        border : 1px solid $upb-sidebar-panel-content-item-selected-border;
        }
      }
    }
  }











