@import "../../assets/scss/variables";

@mixin clearfix() {
  &:before,
  &:after {
    content : " "; // 1
    display : table; // 2
    }
  &:after {
    clear : both;
    }
  }

// Input Reset

input[type="search"] {
  -webkit-appearance : textfield;
  }

input[type="search"]::-webkit-search-decoration {
  display : none;
  }

.clearfix {
  @include clearfix;
  }

/*---------------------
 * Sidebar Content
 *---------------------*/

#upb-sidebar-contents {

  ul {
    list-style : none;
    }

  /* ---------------------
   * Content Header */

  .upb-panel-header {
    background : $upb-sidebar-tab-panel-background-color;
    color      : $upb-sidebar-tab-panel-color;
    position   : relative;
    display    : table;
    width      : 100%;

    .back {
      font-size      : 24px;
      color          : $upb-sidebar-tab-panel-color;
      width          : 50px;
      height         : 100%;
      vertical-align : middle;
      text-align     : center;
      border-right   : 1px solid rgba(0, 0, 0, .1);

      &:hover {
        background : rgba(0, 0, 0, .1);
        }
      }

    .back,
    .panel-heading-wrapper {
      display : table-cell;
      }

    .panel-heading-wrapper {
      padding : 15px;
      .panel-heading {
        .upb-breadcrumb {
          font-size      : 10px;
          font-weight    : 600;
          display        : block;
          text-transform : uppercase;
          line-height    : 1;
          color          : rgba($upb-sidebar-tab-panel-color, .5);
          margin-bottom  : 15px;
          a {
            display         : inline-block;
            color           : rgba($upb-sidebar-tab-panel-color, .5);
            text-decoration : none;

            }

          .breadcrumb-arrow > a {
            position : relative;
            &:after {
              display        : inline-block;
              font           : normal normal normal 14px/1 "Material Design Icons";
              vertical-align : middle;
              content        : "\F142";
              }

            &:last-child {
              &:after {
                content : ''
                }
              }
            }
          }
        .panel-title {
          font-size      : 18px;
          text-transform : uppercase;
          font-weight    : 500;
          }
        }

      button {
        position      : absolute;
        right         : 15px;
        font-size     : 14px;
        width         : 20px;
        height        : 20px;
        line-height   : 20px;
        text-align    : center;
        border-radius : 100%;
        border        : none;
        color         : $upb-sidebar-tab-panel-color;
        background    : rgba($upb-sidebar-tab-panel-icon-background-color, .1);

        &.active {
          background : rgba($upb-sidebar-tab-panel-icon-background-color, .5);

          }

        &:hover {
          cursor : pointer;
          }

        &.upb-content-help-toggle {
          top : 15px
          }

        &.upb-content-search-toggle {
          bottom : 15px;
          }

        }
      }
    }

  /* ---------------------
   * Content Header */

  .upb-panel-meta > div {
    padding     : 15px;
    background  : $upb-sidebar-help-background;
    font-size   : 13px;
    color       : rgba($upb-sidebar-help-color, .6);
    font-weight : 100;
    text-align  : center;

    h2 {
      font-size     : 16px;
      font-weight   : 500;
      margin-bottom : 10px;
      color         : $upb-sidebar-help-color;
      }

    input[type="search"] {
      padding : 10px;
      display : block;
      width   : 100%;
      border: 1px solid transparent;
      }
    }

  /* ---------------------
   * panel Tools */

  .upb-panel-tools {
    background : $upb-sidebar-tab-panel-toolbar-background-color;

    ul {
      position        : relative;
      display         : flex;
      margin          : 0 auto;
      padding         : 0;
      list-style      : none;
      flex-flow       : row wrap;
      justify-content : center;
      box-shadow      : 0 2px 1px rgba(0, 0, 0, .05);

      li {
        border-right : 1px solid $upb-sidebar-tab-panel-toolbar-separator-color;
        position     : relative;
        z-index      : 1;
        display      : block;
        margin       : 0;
        text-align   : center;
        flex         : 1;

        &:last-child {
          border : 0;
          }

        a {
          display         : block;
          height          : 100%;
          padding         : 15px 10px;
          text-decoration : none;

          i {
            font-size : 20px;
            color     : $upb-sidebar-tab-panel-toolbar-icon-color;
            }
          div {
            display        : block;
            font-size      : 9px;
            color          : $upb-sidebar-tab-panel-toolbar-text-color;
            text-transform : uppercase;
            margin-top     : 5px;
            }

          &:hover,
          &.active {
            background-color : $upb-sidebar-tab-panel-toolbar-separator-color;
            }
          }
        }
      }
    }

  /* ---------------------
   * panel Contents */

  .upb-panel-contents {
    &::-webkit-scrollbar {
      width  : 5px;
      height : 5px;
      }
    &::-webkit-scrollbar-thumb {
      background    : #BBBBBB;
      border-radius : 1px;
      border        : 1px solid $upb-sidebar-background-color;
      }
    &::-webkit-scrollbar-thumb:hover {
      background : #333333;
      }
    &::-webkit-scrollbar-thumb:active {
      background : #333333;
      }
    &::-webkit-scrollbar-track {
      background : $upb-sidebar-background-color;
      }
    &::-webkit-scrollbar-corner {
      background : transparent;
      }
    }

  /* ---------------------
   * Panel Contents */

  .upb-panel-contents {
    padding : 15px;
    .upb-panel-contents-items > li {
      border           : 1px solid $upb-sidebar-panel-content-item-border;
      background-color : $upb-sidebar-panel-content-item-background;
      box-shadow       : 0 0 5px rgba(0, 0, 0, .1);
      border-radius    : 3px;
      margin-bottom    : 10px;

      .tools {
        font-size     : 0;
        text-align    : right;
        border-bottom : 1px solid $upb-sidebar-panel-content-item-border;
        li {
          display     : inline-block;
          width       : 30px;
          height      : 30px;
          line-height : 30px;
          font-size   : 14px;
          text-align  : center;
          box-sizing  : border-box;
          border-left : 1px solid $upb-sidebar-panel-content-item-border;

          &:first-child {
            border : 0;
            }

          // icon color
          i {
            color : $upb-sidebar-panel-content-item-icon-color;
            }

          // mover icon color
          &.move {
            float        : left;
            display      : block;
            border-right : 1px solid $upb-sidebar-panel-content-item-border;
            }

          // hover color
          &:hover {
            cursor     : pointer;
            background : $upb-sidebar-panel-content-item-border;
            color      : $upb-sidebar-panel-content-item-icon-hover-color;
            i {
              color : $upb-sidebar-panel-content-item-icon-hover-color;
              }
            }

          }

        }

      // item content
      > div {
        padding     : 10px;
        font-size   : 16px;
        font-weight : 500;
        }

      // sort place holder
      &.upb-sort-placeholder {
        height     : 40px;
        display    : block;
        border     : 2px dashed $upb-sidebar-panel-content-item-border;
        background : transparent;
        box-shadow : none;
        }

      // Item Disable
      &.item-disabled {
        opacity : .5;
        }

      &.item-focused {
        border : 1px solid $upb-sidebar-panel-content-item-focused-border;
        }
      &.item-selected {
        border : 1px solid $upb-sidebar-panel-content-item-selected-border;
        }

      &.form-field-wrapper {
        border           : none !important;
        box-shadow       : none !important;
        background-color : transparent !important;
        margin-bottom    : 20px !important;
        }

      }

    .row-contents-layout {
      margin : 30px 0;

      .ratio-suggestion-message {
        color      : red;
        text-align : center;
        }
      .row-grid-title {
        font-size      : 12px;
        text-transform : uppercase;
        font-weight    : 500;
        }
      .row-grid-screen-sizes-title,
      .row-grid-structure-title,
      .row-grid-order-title,
      .ratio-suggestion-message {
        font-size      : 11px;
        margin         : 30px 0 10px;
        text-transform : uppercase;
        font-weight    : 500;
        }

      .row-grid-screen-sizes ul {
        display         : flex;
        justify-content : space-around;
        margin-bottom   : 30px;
        background      : #FFFFFF;
        border          : 1px solid #DDDDDD;
        border-radius   : 2px;

        li {
          flex         : 1;
          padding      : 7px;
          border-right : 1px solid #DDDDDD;
          text-align   : center;
          position     : relative;
          cursor       : pointer;

          &:last-child {
            border : 0;
            }

          i {
            font-size   : 20px;
            display     : block;
            line-height : 1;
            }

          &.current {
            background : #EEEEEE;
            }

          .device-activity {
            .active,
            .inactive {
              width         : 8px;
              height        : 8px;
              display       : block;
              border-radius : 100%;
              position      : absolute;
              bottom        : -4px;
              left          : 50%;
              margin-left   : -4px;
              overflow      : hidden;
              text-indent   : 100%;
              cursor        : pointer;
              }

            .active {
              background : #5AFF3D;
              box-shadow : 0 0 2px #5AFF3D;
              }
            .inactive {
              background : #607D8B;
              }
            }

          &.re-config-column .active {
            background : #F44336 !important;
            }

          .re-config-icon {
            position    : absolute;
            right       : 10px;
            top         : 7px;
            color       : #F44336;
            font-weight : 700;
            }
          }
        }

      .row-grid-structure-wrapper {
        padding         : 0;
        margin          : 0;
        list-style      : none;
        display         : flex;
        flex-flow       : row wrap;
        justify-content : space-around;

        a {
          position        : relative;
          height          : 40px;
          width           : 63px;
          padding         : 0;
          font-size       : 12px;
          text-decoration : none;
          box-sizing      : border-box;
          margin-bottom   : 5px;
          text-align      : center;
          border-radius   : 2px;
          border          : 1px solid #DDDDDD;
          background      : #FFFFFF;

          &.active {
            background   : #EAFFF6;
            border-color : #03A9F4;
            .grid-item-1,
            .grid-item-2 {
              background : #03A9F4;
              }
            }

          &.manual > .manual {
            line-height : 38px;
            height      : 100%;
            }

          &:hover {
            border-color : #03A9F4;

            .grid-item-1,
            .grid-item-2 {
              background : #03A9F4;
              }
            }
          }

        .grid-item-1,
        .grid-item-2 {
          height      : 100%;
          position    : absolute;
          width       : 1px;
          background  : #DDDDDD;
          text-indent : 100%;
          overflow    : hidden;
          }

        .grid-1-1 .grid-item-1 {
          display : none;
          }

        .grid-1-2 .grid-item-1 {
          left : 50%;
          }

        .grid-1-3__2-3 {
          .grid-item-1 {
            left : 20px;
            }

          .grid-item-2 {
            display : none;
            }
          }

        .grid-2-3__1-3 {
          .grid-item-1 {
            right : 20px;
            }

          .grid-item-2 {
            display : none;
            }
          }

        .grid-1-3__1-3__1-3 {
          .grid-item-1 {
            &:first-child {
              left : 20px;
              }

            &:nth-child(2) {
              left : 41px;
              }

            &:nth-child(3) {
              display : none;
              }
            }
          }

        .grid-1-4__2-4__1-4 {
          .grid-item-1 {
            &:first-child {
              left : 15px;
              }

            &:last-child {
              right : 15px;
              }
            }
          .grid-item-2 {
            display : none;
            }
          }

        .grid-1-4__1-4__1-4__1-4 {
          .grid-item-1 {
            &:first-child {
              left : 15px;
              }

            &:nth-child(2) {
              left : 50%;
              }

            &:nth-child(3) {
              right : 15px;
              }
            &:nth-child(4) {
              display : none;
              }
            }
          }

        }

      .row-grid-column input {
        display       : block;
        width         : 99%;
        padding       : 7px;
        text-align    : center;
        margin        : 10px 2px;
        box-sizing    : border-box;
        border-radius : 2px;
        border        : 1px solid #DDDDDD;
        }

      }

    .upb-draggable-element {

      cursor : move; /* fallback: no `url()` support or images disabled */
      cursor : grab; /* W3C standards syntax, should come least */

      &:active {
        cursor : grabbing;
        }
      }
    }
  }

/*-----------------------
 *  Row Grid */

.row-grid-order-wrapper {

  .upb-mini-column {

    &.item-focused {
      > div {
        border : 1px solid #2196F3;
        }
      }

    > div {
      cursor        : pointer;
      border        : 1px solid #CCCCCC;
      background    : #EEEEEE;
      display       : block;
      border-radius : 2px;
      padding       : 0 10px;
      margin-bottom : 2px;
      color         : #999999;
      font-size     : 14px;
      height        : 50px;
      line-height   : 50px;
      box-sizing    : border-box;
      }

    }
  }

/**
FORM CODE
*/

.attachment-media-view {

  .placeholder {
    width       : 100%;
    position    : relative;
    text-align  : center;
    cursor      : default;
    border      : 1px dashed #B4B9BE;
    padding     : 9px 0;
    line-height : 20px;
    }

  img {
    max-width : 100%;
    }

  .preview {
    overflow : hidden;
    width    : 100%;
    position : relative;
    }

  .pointer {
    width            : 2px;
    height           : 2px;
    padding          : 5px;
    background-color : #000000;
    border           : 2px solid #FFFFFF;
    border-radius    : 50%;
    position         : absolute;
    }

  .actions {
    margin-top : 8px;
    clear      : both;
    }
  .remove-button, .default-button {
    float        : left;
    margin-right : 3px;
    width        : 48%;
    }

  .upload-button, .new-button {
    float : right;
    width : 48%;
    }
  }

/*----------------------
 * Transition
 *----------------------*/

.slide-left-enter-active {
  width      : 300px;
  transition : margin .3s ease;
  }

.slide-left-leave-active {
  transition : margin .3s ease;
  }

.slide-left-enter, .slide-left-leave-active {
  margin-left : 350px;
  width       : 300px;

  position    : absolute;
  }

.slide-right-enter-active {
  width      : 300px;
  transition : margin .3s ease;
  }

.slide-right-leave-active {
  transition : margin .3s ease;
  }

.slide-right-enter, .slide-right-leave-active {
  margin-left : -350px;
  width       : 300px;
  position    : absolute;
  }


#sidebar-sub-panel-sections{
  .sub-panel-sections-list{
    padding: 15px;
    li{
      width: 100%;
      border: 1px solid #c6c6c6;
      background-color: #FFFFFF;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .sub-panel-section-tools,
      .sub-panel-section-title{
        flex: initial;
        }

      .sub-panel-section-tools{
        width: 30px;
        text-align: center;
        a{
          display: block;
          padding: 4px;
          color:#888;
          border-bottom: 1px solid #c6c6c6;
          border-right: 1px solid #c6c6c6;

          &:last-child{
            border-bottom: 0;
            }

          &:hover{
            background: #ddd;
            color: #000;
            }
          }
        }

      .sub-panel-section-title{
        text-align: center;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        }
      }
    }
  }





